h1{
	color:pink;
	background-color: gray;
	text-align: center;
}
h2{
	color:pink;
	background-color:gray;
	text-align: center;
}
h3{
	color:pink;
	background-color:gray;
	text-align: center;
}
h4{
	color:pink;
	background-color: gray;
	text-align: center;
}
p{
	background-color: skyblue;
}

table{
	color: brown;
}
